.example-container {
  height: 100vh;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  margin: 16px;
}

mat-drawer {
  width: 250px;
  background: black;
  color: white;
}

mat-nav-list a {
  color: white;
  text-decoration: none;
}

.main-content {
  padding: 16px;
}
